main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width : 800px) {
  main {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}